.questionnaire{
    padding-top: 20px;
}

.chart {
    padding-top: 20px;
    position: relative;
    float: left; 
    margin-right: 20px;
}
.chart .count {
    position: absolute;
    border-radius: 50%;
    top: 24px;
    left: 24px;
    height: 152px;
    width: 152px;
}

.chart em, 
.chart span {
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.chart em {
    display: block;
    font-size: 30px;
    font-style: normal;
    color: #fff;
    line-height: 150px;
}
.chart .caption {
    position: absolute;
    top: 50px;
    left: 40px;
    color: #fff;
}
#chart2 .count {
    background: url(http://startapp.jp/img/refs/jsfiddle_medium_6628140291.jpg) -20px -20px no-repeat;

}
#chart2 .count em {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}