/* Default styles for background colors */
@charset "UTF-8";

/* 基本設定 */
/* 基本設定：カラー */
:root{
  --icon-color:#fff;
  --icon-bk-color:#01044E;
}
/* 基本設定：フォントサイズ */
@media(max-width: 599px){
  :root{
    font-size: 14px;
}
}

@media(min-width: 600px) and (max-width: 799px){
  :root{
    font-size: 16px;
}
}

@media(min-width: 800px){
  :root{
    font-size: 18px;
}
}

body{
  font-size: 16px;
}

/* 基本設定：ページ全体 */
body{
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", 
                "ヒラギノ角ゴ ProN W3",  
                "游ゴシック",
                "メイリオ",
                "Meiryo", 
                "ＭＳ Ｐゴシック", 
                "sans-serif" !important;
}


/* header */
/* ヘッダー：ナビゲーションメニュー */
.headB ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a{
  display: block;
  /* menu幅 */
  padding: 10px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.headB a:hover{
  background-color: rgba(0,0,0,0,0.3);
}

@media(min-width: 768px){
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  max-width: var(--large-width);
  margin-left: auto;
  margin-right: auto;
}
.headB ul{
  display: flex;
  }
}

/* ヘッダーC：トグルボタン */
@media(max-width: 767px){
  /* 小さい画面用*/
  header .container-small{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headC{
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer;
  }
  .headC:hover{
    opacity: 0.3;
  }
  .headB{
    display: none;
  }
}

@media(min-width: 768px){
  /* 大きい画面サイズ用 */
  .headC{
    display: none;
  }
  .headB{
    display: block !important;
  }
}


/* test */
body, html, main {
    /* important */
    height: 100%;
}

.cd-fixed-bg {
min-height: 100%;
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
}

.cd-fixed-bg.cd-bg-1{
background-image: url("../img/plane.jpeg");
height: 100%;
}
.cd-scrolling-bg {
min-height: 100%;
}


/* main */
.main{
  background: ;
  padding-top: 50px;
  padding-bottom: 30px;
}

.main h3{
  padding-bottom: 20px;
}

.main .icon{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 45px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #ddd;
  background-color: var(--icon-bk-color);
  color:#fff;
  color: var (--icon-color);
}

.main .col-md-4{
  text-align: center;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: solid 5px #01044E;
}


/* ConA */
.conA{
  background: ;
  padding-top: 50px;
  padding-bottom: 30px;
}

.conA h1{
  padding-top: 0px;
  padding-bottom: 50px;
  text-align: center;
  font-size: px;
}

.conA span{
  color:#01044E; 
  font-size:px;
}

.conA .icon{
  display: inline-block;
  margin-bottom: 20px;
  font-size: 45px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #ddd;
  background-color: var(--icon-bk-color);
  color:#fff;
  color: var (--icon-color);
}

.conA .col-md-4{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}


/* ConB */
.conB{
  padding-top: 50px;
  padding-bottom: px;
}

.conB h1{
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  font-size: ;
}

.conB span{
  color:#01044E; 
  font-size:px;
}

/* スライド */
.carousel{
  height: 300px;
  margin:auto;
}

  /* 大きい画面サイズ用 */
@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 600px;
  }
}


/* ConC */
.conC{
    background: #f2f2f2;
    padding-top: 35px;
    padding-bottom: px;
    text-align: center;
}

.conC .container{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.conC .team{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.conC h1{
  padding-top: px;
  padding-bottom: 40px;
  text-align: center;
  font-size: ;
}

/* conD */
.conD{
    background: #f2f2f2;
    padding-top: px;
    padding-bottom: 30px;
    text-align: center;
}

.conD .container{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.conD h1{
  padding-top: px;
  padding-bottom: 40px;
  text-align: center;
  font-size: ;
}

.conD .chart{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.chart h4{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}


/* location */
.location h2{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #5D9AB2;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-bright-color);
  font-size: 1.5rem;
  text-align: center;
}

.location h3{
  text-align: center;
  align-items: center;
}

.location iframe{
  width: 100%;
  height: 400px;
  vertical-align: bottom;
}


/* footer */
footer{
  color: #fff;
  color: var(--text-bright-color);
  background-color: #2B5566;
  background-color: var(--dark-main-color);
}

footer .container{
  padding: 40px 20px;
}

/*footerA：サイト情報*/
.footA h2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: em;
}

.footer p{
  margin-top: 0;
  margin-bottom: 0
  font-size: 14px;
}

.footA a{
  color: inherit;
  text-decoration: none;
}

.footA{
  margin-bottom: 30px;
}

.footB div{
  margin-bottom: 20px;
}

.footB h3{
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: solid 1px currentColor;
  font-size: 14px;
}

.footB ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footB a{
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.footB a:hover{
  background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px){
  footer .container{
    display: flex;
    flex-wrap: wrap;
  }

  .footA{
    flex: 0 0 40%;
  }

  .footB{
    flex: 0 0 60%;
  }

  .footC{
    flex: 0 0 100%;
  }
  .footB{
    display: flex;
  }

  .footB div{
    flex: 1;
  }

  .footB div:not(:first-child){
    margin-left: 40px;
  }
}

/* footerC：コピーライト */
.footC{
  font-size: 12px;
  text-align: center;
}

